.About {
  width: 100vw;
  height: 100vh;
  background-color: #30544fdc;
  transform: translateX(-1%);
}

.AboutInfo {
  width: 80%;
  height: auto;
  margin: 4rem auto;
  display: grid;
  column-gap: 4rem;
  grid-template-columns: 50% 50%;
  text-align: left;
  font-size: 1.4rem;
}

.AboutInfo .AboutInfoRight ul li {
  list-style-type: none;
}

@media (max-width: 500px) {
  .About {
    padding-top: 50px;
    font-size: 14px;
    transform: translateX(-4%);
  }
  .AboutInfo {
    font-size: 14px;
    grid-template-columns: none;
    grid-template-rows: 50% 50%;
  }
}
