.Button {
  text-decoration: none;
  color: #f1f2f6;
  padding: 1rem 3.5rem;
  background-color: #456561;
  border-radius: 2rem;
  margin-top: 1.5rem;
}

.Button:hover {
  background-color: #3f5e5a;
}

@media (max-width: 500px) {
  .Button {
    padding: 0.5rem 1.5rem;
    border-radius: 0.8rem;
    margin-top: 0.2rem;
  }
}
