.RightFrameInfoNav {
  height: 10vh;
}

.RightFrameInfoNav ul {
  display: flex;
  float: right;
}

.RightFrameInfoNav ul li {
  padding: 0.6rem 0.8rem;
  list-style-type: none;
  font-size: 1.2rem;
}

a {
  color: #f1f2f6;
  text-decoration: none;
}

@media (max-width: 500px) {
  .RightFrameInfoNav {
    display: none;
  }
}
